<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lc.libpush" >
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application>
        <service android:name=".PushServer"
            android:exported="true"
            android:enabled="true"/>
    </application>
</manifest>
